<!--<h1>Editing {{.Title}}</h1>

<form action="/save/{{.Title}}" method="POST">
<div><textarea name="body" rows="20" cols="80">{{printf "%s" .Body}}</textarea></div>
<div><input type="submit" value="Save"></div>
</form>-->

{{template "header"}}

<h1>Ви можете змінити початкові значення для обчислень</h1>

<form action="/save/{{.Title}}" method="post">
    <div><textarea name="body" rows="10" cols="40" style="font-size:20px">{{printf "%s" .Body}}</textarea></div>

    {{if eq .Title "sqrt"}} {{else}}
    <input type="radio" name="methodChoices" value="plain" checked>Звичайний метод Ньютона
    <br/>
    <input type="radio" name="methodChoices" value="pole">Полюсний метод Ньютона
    <br/>
    <input type="radio" name="methodChoices" value="modifPole">Метод Ньютона з рухомим полюсом
    {{end}}


    <br>
    <br>
    <input type="submit" class="button" value="Обчислити" style="font-size:20px">
</form>
